body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

/*******************************
Common
********************************/

.container {
    margin-top:60px;
}

.side-menu {
    height:1000px;
}

/*******************************
Canvas
********************************/
.canvas {
    background-color: #333333;
}
.canvas.canvas-main {
    width:100%;
    height:1000px;
}

.canvas-darker {
    background-color: #333333;
}

.canvas-xs {
    width:40px;
    height:30px;

}

/*******************************
List
********************************/
.list-tools li {
    margin-bottom: 7px;
}
 
.list-item-layers li {
    display: block;
    margin-top:3px;
    padding: 3px 2px;
    line-height: 32px;
    vertical-align: middle;
}
.item-layer {
    background-color: #ccc;
    height:35px;
}

.item-layer a {
    display: block;
}
.item-layer span {
    margin-left:10px;
}

.item-layer span {
    margin-left:10px;
}

.item-layer .form-control {
    display: inline-block;
    margin-left:10px;
    width: auto;
    height: 30px;
    margin:0px;
}
/*******************************
Button
********************************/
.btn.btn-tool {
    height: 37px;
    padding:0px;
    width:100%;
    background: none;
    padding-bottom:3px;
}

.btn.btn-tool:hover {
    border:1px solid #ccc;
}

.btn.btn-remove {
    position: absolute;
    top : -10px;
    right: -10px;
    border-radius: 20px;
    padding:5px;
    vertical-align: middle;
    border:1px solid #ccc;
    background-color: #fff;
    z-index: 10000;
}
/*******************************
Elements
********************************/
.elem {
    color:#fff;
    position: absolute;
    z-index: 10;
}



.elem.active {
    border:1px solid red !important;
}

.elem.elem-text textarea {
    color:#fff;
    position: absolute;
    resize: none;
    border:none;
    width:100%;
    height:100%;
    border-radius:0px;
    background: transparent;
    z-index: 100;   
}

.elem .elem-content {
    position: absolute;
    width:100%;
    height:100%;
}

textarea.disabled {
    background:transparent;
    border:none;
    z-index: -10px;
}
/*******************************
Layers
********************************/
.layer {
    display:block;
    width:100%;
    height:1000px;
}