<form class="form-horizontal form-sm">
	<div class="row form-group">
		<div lo-color-picker class="col-lg-4">
			<input type="number"  class="form-control input-sm" id="fontsize" />
		</div>
		<div lo-color-picker class="col-lg-8">
			<select id="fontselect" ng-model="form.font" ng-options="font.css as font.name for font in fonts"></select>
		</div>
	</div>
	<div class="row form-group">
		<div class="col-lg-4">
			<input class="form-control input-sm" type="color" id="forecolor"/>
		</div>
		<div class="col-lg-8">
			<div class="btn-group">
				<button type="button" id="justifyleft" class="btn btn-default btn-sm ng-class: {active: layer.properties.textAlign == 'left'};"><span class="glyphicon glyphicon-align-right"></span></button>
				<button type="button" id="justifycenter" class="btn btn-default btn-sm ng-class: {active: layer.properties.textAlign == 'center'};" ng-click="layer.properties.textAlign = 'center'"><span class="glyphicon glyphicon-align-center"></span></button>
				<button type="button" id="justifyright" class="btn btn-default btn-sm ng-class: {active: layer.properties.textAlign == 'right'};" btn-sm ng-click="layer.properties.textAlign = 'right'"><span class="glyphicon glyphicon-align-left"></span></button>
				<button type="button" id="justifyfull" class="btn btn-default btn-sm ng-class: {active: layer.properties.textAlign == 'justify'};" ng-click="layer.properties.textAlign = 'justify'"><span class="glyphicon glyphicon-align-justify"></span></button>
			</div>
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-lg-4">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" id="numlist" ><i class="fa fa-list-ol"></i></button>
				<button type="button" class="btn btn-default btn-sm" id="bullist" ><i class="fa fa-list-ul"></i></button>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm ng-class: {active: layer.properties.textDecoration == 'underline'};" id="bold" ><i class="fa fa-bold"></i></button>
				<button type="button" class="btn btn-default btn-sm ng-class: {active: layer.properties.textDecoration == 'underline'};" id="italic" ><i class="fa fa-italic"></i></button>
				<button type="button" class="btn btn-default btn-sm ng-class: {active: layer.properties.textDecoration == 'underline'};" id="underline" ><i class="fa fa-underline"></i></button>
				<button type="button" class="btn btn-default btn-sm ng-class: {active: layer.properties.textDecoration == 'line-through'};" id="strikethrough"><i class="fa fa-strikethrough"></i></button>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-4">
			<div class="btn-group">
				<button type="button" class="btn btn-default btn-sm" id="code" ><i class="fa fa-code"></i></button>
			</div>
		</div>

	</div>
</form>