<form class="form-horizontal form-sm">
	<div class="row form-group">
		<div class="col-lg-6">
			<div class="input-group">
				<span class="input-group-addon input-sm">W</span>
				<input class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.width">
			</div>
		</div>
		<div class="col-lg-6">
			<div class="input-group">
				<label class="input-group-addon input-sm" for="">H</label>
				<input class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.height">
			</div>
		</div>
	</div>
	<div class="row row-unstyled form-group">
		<div class="col-lg-3">
			<span class="input-group-addon input-sm">Corner</span>
		</div>
		<div class="col-lg-2">
			<input class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.borderTopLeftRadius">	
		</div>
		<div class="col-lg-2">
			<input  class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.borderTopRightRadius">
		</div>
		<div class="col-lg-2">
			<input  class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.borderBottomLeftRadius">
		</div>
		<div class="col-lg-3">
			<input  class="input-inline form-control input-sm ng-pristine ng-valid ng-valid-number" type="number" ng-model="properties.borderBottomRightRadius">
		</div>		
	</div>
	<div class="row row-unstyled form-group">
		<div class="col-lg-3">
			<label class="input-group-addon input-sm">Stroke</label>
		</div>
		<div class="col-lg-3">
			<input class="form-control input-inline input-sm" type="number" ng-model="properties.borderWidth" />
		</div>
		<div class="col-lg-3">
			<select ng-model="form.stroke" ng-options="stroke.name for stroke in strokes" class="form-control">
				</select>
		</div>
		<div class="col-lg-3">
			<ui-colorpicker ng-model="properties.borderColor"></ui-colorpicker>
			<input class="hide form-control input-inline input-sm" type="text" ng-model="properties.borderColor" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">
			<div class="input-group">
				<span class="input-group-addon input-sm">Rotate</span>
				<input class="form-control input-sm" type="text" ng-model="properties.webkitTransform">
			</div>
		</div>
	</div>
</form>