<form class="form-horizontal form-sm">
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">color</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.color" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">font size</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.fontSize" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">font familly</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.fontFamilly" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">text align</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.textAlign" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">line height</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.lineHeight" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">vertical align</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.verticalAlign" />
		</div>	
	</div>
	<div class="form-group">
		<label class="control-label col-lg-4 font-sm" for="">text decoration</label>
		<div class="col-lg-8">
			<input class="form-control input-sm" type="text" ng-model="properties.textDecoration" />
		</div>
	</div>
</form>