<ul ui-sortable ng-model="layers" class="list-item-layers list-unstyled">
	<li ng-repeat="layer in layers" class="item-layer ng-class:{'active' : layer.isActive}" ng-click="activateLayer(layer)"  ng-dblclick="openModal()">
		<div class="pull-left">
			<i class="fa ng-class:{'fa-eye': layer.isShow, 'fa-eye-slash': layer.isShow == false }" ng-click="showLayer(layer)"></i>
		</div>		
		<div class="pull-left">
			<canvas class="pull-left canvas canvas-xs"></canvas>
		</div>
		<div class="pull-right">
			<input style='width:150px;' class="pull-right form-control input-sm" ng-readonly="!showInput" ng-blur="showInput = false" ng-dblclick="showInput = true" ng-model="layer.name" value="{{layer.name}}" readonly="readonly" />
		</div>
	</li>
</ul>
