<div ng-controller="LayerCtrl" >
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Mokups</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="/" ng-click="newLayer()"><span class="glyphicon glyphicon-fileNew"></span> New</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-fileNew"></span> Open</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-fileNew"></span> Export</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
	<div class="container" >
		<div class="row">
			<div class="col-md-1 col-lg-1">
				<div class="side-menu">
					<div class="panel panel-default">
					  <div class="panel-heading">Tools</div>
					  <div ng-controller="ToolCtrl" class="panel-body resize-vertical">
					    <ul class="list-tools list-unstyled">
							<li ng-repeat="tool in tools">
								<button ng-click="activateTool(tool)" class="btn btn-tool ng-class:[tool.status]">
							       <span class="glyphicon glyphicon-{{tool.img}}"></span>
								</button>
							</li>
						</ul>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-8">
				<div ng-click="addLayerOnCanvas()" id="canvas" class="canvas canvas-main canvas-darker">
			      	<div ng-include src="'views/layer/list.html'"></div>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
				<div class="side-menu">
					<div class="panel-group" id="accordion">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					          Properties
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse in">
					      <div class="panel-properties panel-body">
        			      	<div ng-include src="templateProperties.url"></div>
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					          Layers
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse in">
					      <div class="panel-body">
					      	<div ng-include src="'views/layer/listMinimize.html'"></div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="modal fade" id="myModal" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<div ng-include src="templateModal.url"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>