<div>
	<nav class="navbar navbar-sm navbar-default navbar-fixed-top" role="navigation" bs-navbar>
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Mokups</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul ng-controller="FileCtrl" class="nav navbar-nav">
	      <li class="active dropdown">
	        <a href="" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="" ng-click="openModal('newFile')" type="button" ><span class="glyphicon glyphicon-fileNew"></span> New</a></li>
	          <li><a href="" ng-click="openModal('openFile')"><span class="glyphicon glyphicon-fileNew"></span> Open</a></li>
			  <li class="divider"></li>
			  <li><a href="" ><span class="glyphicon glyphicon-fileNew"></span> Close</a></li>
	          <li><a href="" ng-click="saveFile($event)"><span class="glyphicon glyphicon-fileNew"></span> Save</a></li>
  	          <li><a href="" ng-click="openModal('saveAs')"><span class="glyphicon glyphicon-fileNew"></span> Save as</a></li>
  	          <li class="divider"></li>
  	          <li><a href="" ng-click="exportFile($event)"><span class="glyphicon glyphicon-fileNew"></span> Export PDF</a></li>
	        </ul>
	      </li>
  	      <li class="active dropdown">
	        <a href="" class="dropdown-toggle" data-toggle="dropdown">Canvas<b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="" ng-click="openModal('canvasSize')" type="button" ><span class="glyphicon glyphicon-fileNew"></span> Canvas size</a>
	          </li>
	   
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
	<div class="workspace">
		<aside class="tools-bar resize-vertical" ng-controller="ToolCtrl" class="">
			      	<div ng-include src="'views/tool/list.html'"></div>
		</aside>
		<section ng-controller="LayerCtrl" >
			<nav>
				<ul class="tablist list-inline" ng-show="mockup.canvas.isVisible">
					<li class="tablist-item">
						<div class="input-group">
							<input ng-model="mockup.name" class="input-inline form-control title" type="text" />
							<span class="input-group-addon input-group-button">
								<button ><i class="fa fa-times"></i></button>
							</span>
						</div>
					</li>
				</ul>
			</nav>

			<div class="container-canvas" >
				<div ng-show="mockup.canvas.isVisible" ng-click="addLayerOnCanvas()" id="canvas" class="canvas canvas-main canvas-darker" style="width:{{mockup.canvas.width}}{{mockup.canvas.unit.type}}; height:{{mockup.canvas.height}}{{mockup.canvas.unit.type}};">
		      		<div ng-include src="'views/layer/list.html'"></div>
				</div>
			</div>
		</section>
		<aside class="panels-bar">
			<tabset justified="false">
				<tab heading="Properties">
					<div ng-controller="PropertiesCtrl" >
				      	<div ng-include src="templateProperties.url"></div>
			        </div>
				</tab>
			</tabset>
			<tabset justified="false">
				<tab heading="Layers">
					<div ng-controller="LayerMenuCtrl">
						<div ng-include src="'views/layer/listMinimize.html'"></div>
					</div>
				</tab>
				<tab heading="Bindings">
					<div ng-controller="BindingCtrl">
						<div ng-include src="'views/binding/list.html'"></div>
					</div>
				</tab>
			</tabset>

<!-- 			<accordion close-others="false">
			    <accordion-group heading="Properties" is-open="true">
			      <div ng-controller="PropertiesCtrl" >
			      	<div ng-include src="templateProperties.url"></div>
			      </div>
			    </accordion-group>
			    <accordion-group heading="Layers" is-open="true">

			    </accordion-group>
			    <accordion-group heading="Bindings">

			    </accordion-group>
			</accordion> -->
		</aside>
	</div>


</div>