<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Mokups</a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <li class="active dropdown">
	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">File <b class="caret"></b></a>
	        <ul class="dropdown-menu">
	          <li><a href="#"><span class="glyphicon glyphicon-fileNew"></span> New</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-fileNew"></span> Open</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-fileNew"></span> Export</a></li>
	        </ul>
	      </li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
	<div class="container" ng-controller="LayerCtrl">
		<div class="row">
			<div class="col-md-1 col-lg-1">
				<div class="side-menu">
					<div class="panel panel-default">
					  <div class="panel-heading">Tools</div>
					  <div ng-controller="ToolCtrl" class="panel-body resize-vertical">
					    <ul class="list-tools list-unstyled">
							<li ng-repeat="tool in tools">
								<button ng-click="activateTool(tool.name)" class="btn btn-tool ng-class:[tool.status]">
							       <span class="glyphicon glyphicon-{{tool.img}}"></span>
								</button>
							</li>
						</ul>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-lg-8">
				<div  id="canvas" class="canvas canvas-main canvas-darker">
					<lu class="list-layer">
						<li ng-click=""ng-repeat="layer in layers" class="layer position-1 active">
							<element></element>
						</li>
					</lu>
				</div>
			</div>
			<div class="col-md-3 col-lg-3">
				<div class="side-menu">
					<div class="panel-group" id="accordion">
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					          Properties
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse in">
					      <div class="panel-body">
					        <form action="#">
					        	<textarea name="style" id="field-style" cols="30" rows="10" placeholder="Style CSS"></textarea>
					        </form>
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading">
					      <h4 class="panel-title">
					        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					          Layers
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse in">
					      <div class="panel-body">
					      	<div ng-include src="'views/layer/list.html'"></div>
						    <button ng-click="addLayer()">New</button>
					      	<div ng-include src="templateDetails"></div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>